<div class="container-fluid">
  <div class="row-fluid">
    <form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Nuevo comentario</legend>

<!-- Multiple Radios -->
<div class="form-group">
  <label class="col-md-4 control-label" for="radios">Visibilidad Denunciante</label>
  <div class="col-md-4">
  <div class="radio">
    <label for="radios-0">
      <input type="radio" name="radios" id="radios-0" value="1" checked="checked">
      Público
    </label>
	</div>
  <div class="radio">
    <label for="radios-1">
      <input type="radio" name="radios" id="radios-1" value="2">
      Anónimo
    </label>
	</div>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">ID DENUNCIA</label>
  <div class="col-md-4">
  <input id="textinput" name="id-denuncia" type="text" placeholder="placeholder" class="form-control input-md">
  </div>
</div>

<!-- Textarea -->
<div class="form-group">
  <label class="col-md-4 control-label" for="textarea">Comentario</label>
  <div class="col-md-4">
    <textarea class="form-control" id="textarea" name="comentario">default text</textarea>
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="singlebutton">Comentar</label>
  <div class="col-md-4">
    <button id="singlebutton" name="singlebutton" class="btn btn-primary">Button</button>
  </div>
</div>

</fieldset>
</form>

  </div><!-- /.row -->

</div><!-- /.container -->
