

<h3>Location</h3>
<div id="map"></div>
<script type="text/javascript">;
 var myDenuncias = <%- JSON.stringify(denunciaList) %>
 </script>
<script
    require("dotenv").config();
     async
     defer
     src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAxv9S2VZwJ0CTAzD7_89OMV8ebuVZcYGg&callback">
   </script>
   <script type="text/javascript" src="javascripts/allMaps.js"></script>
